<div *ngIf="loading; else content">
    <div class="flex justify-center items-center" style="height: 100vh;">
        <p-progress-spinner ariaLabel="Cargando..." styleClass="spinner-lg" animationDuration="1s"></p-progress-spinner>
    </div>
</div>


<ng-template #content>
    <div class="flex m-3 justify-center gap-4">
        <p-autocomplete [(ngModel)]="value" [dropdown]="true" [suggestions]="filteredName"
            (completeMethod)="search($event)" [style]="{'width': '100%'}" (input)="onChange($event)"></p-autocomplete>
        <p-button label="Nuevo link" icon="pi pi-plus-circle" (onClick)="newLink()" />
    </div>
    <app-link-form [event]="event" [linkData]="linkToEdit" (saved)="handleFormDialog($event)"></app-link-form>
    <div class="m-12">
        <p-table class="text-center" [value]=filteredLinks styleClass="centered-table"
            [paginator]="filteredLinks.length>5" [rows]="5"
            [tableStyle]="{ 'min-width': '50rem', 'text-align': 'center' }">
            <ng-template #caption>
                <div class="flex items-center justify-between">
                    <span class="text-xl font-bold">Lista de Links</span>
                    <p-button icon="pi pi-refresh" rounded raised />
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th>Nombre</th>
                    <th>URL</th>
                    <th>Short URL</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                    <th>Clicks</th>
                    <th>Estadisticas</th>
                </tr>
            </ng-template>
            <ng-template #body let-filteredLinks>
                <tr [id]="filteredLinks.id">
                    <td>{{filteredLinks.name}}</td>
                    <td>
                        {{filteredLinks.originalUrl.length>25? (filteredLinks.originalUrl|slice:0:25) + '...':
                        filteredLinks.originalUrl}}
                    </td>
                    <td><a class="text-blue-700 font-medium" href="{{filteredLinks.shortUrl}}"
                            target="_blank">{{filteredLinks.shortUrl}}</a></td>
                    <td>{{filteredLinks.description}}</td>
                    <td>
                        <!-- <p-button class="m-1 w-auto" label="Editar" icon="pi pi-pencil" [outlined]="true"
                            (click)="showEditDialog(filteredLinks)" /> -->
                        <p-button class="m-1 w-auto" label="Eliminar" icon="pi pi-trash" severity="danger"
                            (click)="deleteLink($event, filteredLinks)" [outlined]="true" />
                    </td>
                    <td>{{filteredLinks.clicks}}</td>
                    <td><i class="pi pi-eye cursor-pointer"></i></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</ng-template>